.jp-ReactWidget {
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color1);
  align-items: center;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.side-by-side-fields > fieldset {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.side-by-side-fields .left-field,
.side-by-side-fields .right-field {
  width: 49%;
}

#root_aggfunc .array-item {
  display: flex;
  align-items: center;
}

#root_aggfunc .array-item-toolbox {
  margin-bottom: 6px;
}