.jp-ReactWidget {
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color1);
  align-items: center;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  overflow: auto;
}

.side-by-side-fields > fieldset {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.side-by-side-fields .left-field,
.side-by-side-fields .right-field {
  width: 49%;
}

#root_aggfunc .array-item {
  display: flex;
  align-items: center;
}

#root_aggfunc .array-item-toolbox {
  margin-bottom: 6px;
}

.data-transformation-form .left-field {
  width: 33%;
}

.data-transformation-form .right-field {
  width: 66%;
}

#query-form .group-or-rule-container {
  padding-right: 0;
}

#query-form .query-builder {
  margin: 0;
}

#query-form .query-builder-container {
  padding: 10px 0;
  margin-bottom: 20px;
}

.thead-dark {
  background-color: #212529;
  color: #ffffff;
}

.full-height-container {
  height: 100%;
}

.scroll-nav {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
  z-index: 5;
}

.tab-button {
  min-width: 77px;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 4px 4px 0 0;
  font-size: 16px;
  line-height: 21px;
  margin-right: 3px;
  margin-bottom: -1px;
  display: inline-block;
  transition: 0.2s ease;
}

.tab-button:hover {
  background-color: #EEEEEE;
}

.tab-button_active {
  background-color: #DDDDDD;
}

.tab-button_inactive {
  color: #0275D8;
}

.tab-item {
  padding-top: 2px;
  width: 100%;
  margin-bottom: 15px;
  overflow: auto;
  border: 1px solid #ddd;
  height: 92%;
}

